.from-main {
    height: 92vh;
    align-items: center;
    display: flex;

}

.from-section-main {
    background-image: url("/src/Assets/home.png");
    background-size: cover;
    background-position: center;
    z-index: -1;
}

.from-main-content {
    align-items: center;
    flex-flow: row wrap;
    display: flex;
    height: 450px;
}

.from-content h1 {
    color: #fff;
    font-weight: bold;
    font-size: 42px;
}

.from-content p {
    color: #fff;
    font-size: 16px;
}

.from-full {
    background-color: #0000007e;
    /* Specify the desired background color with transparency */
    backdrop-filter: blur(40px);
    padding: 30px;
    border-radius: 8px;
    z-index: 99;
    width: 80%;
    justify-content: center;
}

.from-full input:not([type="checkbox"]) {
    background: transparent;
    border: none;
    border-bottom: 1px solid #fff;
    color: #fff;
}

input[type="checkbox"] {
    border-color: #000;
    background: #fff;
    /* transform: scale(3.3); */
    /* Apply border radius */
    border-radius: 0 !important;
}

input[type="checkbox"]:focus,
input[type="checkbox"]:active {
    /* Reset active/focus styles */
    
    /* Add any other styles as needed */
}


input[type="checkbox"]:checked {
    background: green;
}


.form-control:focus {
    color: #fff !important;
    background-color: transparent !important;
    border-bottom: #fff !important;
    outline: 0 !important;
    box-shadow: 0 0 0 0.25rem rgba(13, 109, 253, 0) !important;
}

.from-full .form-label {
    color: #fff;
}

.from-full .button-login, .from-full .Socail-button-google {
    width: 100%;
    font-size: 18px;
    font-weight: 600;
    color: #000;
    border: none;
    border-radius: 4px;
    background: #fff;
    padding: 12px 22px;
    margin-top: 40px;
}

.from-full .Socail-button-google:hover {
    background-color: #fff;
    color: #000;
    border: #bdbdbd;
}

.from-full .toggle-button {
    margin-top: 30px;
}

.from-full .toggle-button p {
    color: #fff;
}

.from-full .toggle-button p span {
    color: #1CAF83;
    margin-left: 10px;
    font-weight: bold;
    cursor: pointer;
}

.Socail-button-google img {
    margin-right: 15px;
}